<!--
    This file is included index.ejs
    since index.ejs is receiving "products (array of all product objects from database)"
    we can also access "products" in this file
-->


<% for(let i = 0; i<products.length; i++){ 
        <!-- if(!products[i].isAvailable) continue; -->
    %>

<div class="card col-lg-3 col-md-6 col-sm-6 mt-5">
    <!-- <img class="card-img-top" src="https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap"> -->
    <img class="card-img-top" src="data:image/jpg;base64,<%=products[i].images[0]%>" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title"><%= products[i].productName %></h5>
    <p class="text-danger"><%=products[i].isAvailable ? "" : "Not Available"%></p>
    <p class="card-text"><%=products[i].productDescription%></p>
    <div class="price-wrap h5">
        <span class="price-new">$<%= products[i].productPriceNew %></span>
        <del class="price-old text-secondary" ><small><%= (!products[i].productPriceOld ? '' : '$'+products[i].productPriceOld)  %></small></del>
    </div>
    <a href="#" class="btn btn-primary">View</a>
    <!-- we want to make a put request when we click on this EDIT button
    - we will use javascript to achieve that
    -->
    <a href="/update-product?id=<%= products[i]._id %>" class='btn btn-info btn-edit'>Edit</a>
    <!-- <a href="/api/products/<%= products[i]._id %> " class='btn btn-danger'>Delete</a> -->
    <button data_id="<%= products[i]._id %>" class="btn btn-danger btn_delete_product">Delete</button>
    </div>
</div> 

<% } %>